.favorites-goods {
    /* Если потребуется скрыть красную кнопку, то раскомментируем */
    /* & .white-cart__red-btn {
        display: none;
    } */

    margin-top: var(--margin-50-30);
    margin-bottom: var(--margin-100-40);

    .page-title {
        /*         font-size: var(--font-size-48-20);
        font-weight: 500;
        text-transform: uppercase;
        color: var(--color-black-text); */
        margin-bottom: 20px;
    }

    .product-buttons.all-to-cart {
        padding-right: 86px;
        margin-bottom: 30px;
        display: flex;
        justify-content: end;
        gap: 30px;

        & .red-btn__white-cart {
            /* padding: 13px 0 17px; */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            height: 50px;
            width: 270px;

            margin-right: 0;
        }

        & .white-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            /* padding: 15px 0 16px; */
            height: 50px;
            width: 270px;

            stroke: var(--color-black-text);
        }
    }

    .order__title {
        margin-bottom: 49px;
        border-radius: var(--border-radius-6) var(--border-radius-6) var(--border-radius-6) var(--border-radius-6);
        padding: 3px 20px;
    }

    /* Скрываем цену до скидки ======== */
    & .u-product-item__price-old {
        display: none;
    }

    /* -------------------------------- */

    /* Скрываем процент скидки ====== */
    & .u-product-item__price-sale-percent {
        display: none;
    }

    /* ------------------------------- */

    & .white-cart__red-btn {
        /* padding: 8px 37px 12px; */
        /* padding: 6px 0 10px; */
        height: 40px;
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
}

@media(max-width: 1199px) {
    .favorites-goods {
        .order__title {
            margin-bottom: calc(55px + (49 - 55) * ((100vw - 320px) / (1199 - 320)));
        }

        .product-buttons.all-to-cart {
            padding-right: calc(0px + (86 - 0) * ((100vw - 767px) / (1199 - 767)));
            margin-bottom: calc(23px + (30 - 23) * ((100vw - 320px) / (1199 - 320)));
        }
    }
}

@media(max-width: 1000px) {
    :root {}

    .favorites-goods {
        & .white-cart__red-btn {
            padding: 8px 0px 12px;
            display: flex;
            justify-content: center;
        }
    }
}

@media(max-width: 767px) {
    .favorites-goods {
        .product-buttons.all-to-cart {
            padding-right: 0;
            /* margin-bottom: 30px; */
            justify-content: center;
        }
    }
}

@media(max-width: 610px) {
    .favorites-goods {
        .product-buttons.all-to-cart {
            flex-direction: column;
            gap: 20px;
            /* justify-content: center; */
        }
    }
}