.page-titles {
    margin-top: var(--margin-50-20);
    margin-bottom: 20px;
}

.profile__container {
    display: flex;
    gap: 30px;
}

.profile-menu {
    border: 2px solid var(--color-gray-header-bg);
    border-radius: calc(var(--border-radius-6) + 2px);
    width: 32%;
    height: fit-content;
    overflow: hidden;
    box-sizing: border-box;

    &__title {
        border-radius: 0 0 var(--border-radius-6) var(--border-radius-6);
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        background: var(--color-black-text);
    }

    &__title.all-round {
        border-radius: var(--border-radius-6);
    }

    &__title-text {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;

        &.legal-addr-small {
            display: none;
        }
    }

    &__list {
        /* padding: 12px 18px 30px; */
        padding-top: 12px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 15px;

        ul {
            width: 100%;
        }

        li {
            width: 100%;
        }

        a {
            padding-left: 20px;
            font-size: 20px;
            font-weight: 500;
            color: #b6b8bc;
        }
    }

    .profile-menu-radio {
        display: inline-flex;
        align-items: center;
        padding-left: 10px;
        /*  */
        width: 100%;
        height: 40px;
        text-align: start;
        line-height: 100%;
        font-size: 20px;
        font-weight: 500;
        color: var(--color-black-text);
        cursor: pointer;

        &:hover {
            /* background-color: var(--color-black-btn-border); */
            background-color: rgba(207, 209, 213, 0.3);
        }
    }

    .real-radio:checked+.profile-menu-radio {
        background-color: rgba(40, 39, 43, 0.3);
    }

    &__btn {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 15px;

        &:hover {
            background-color: rgba(207, 209, 213, 0.3);
        }
    }
}

.profile {
    & .display--none {
        display: none;
    }

    & .display--flex {
        display: flex;
    }

    & .profile-main {
        margin-bottom: var(--margin-100-50);
        /*     border: 2px solid var(--color-gray-header-bg);
        border-radius: calc(var(--border-radius-6) + 2px); */
        overflow: hidden;
        box-sizing: border-box;

        &__personal-data--module,
        &__address--module {
            border: 2px solid var(--color-gray-header-bg);
            border-radius: calc(var(--border-radius-6) + 2px);
            overflow: hidden;
            margin-bottom: 30px;
        }

        /*         &__address--module.additional-address {
            margin-bottom: 0;

            & img {
                margin-left: 30px;
            }

            & h3 {
                display: inline-flex;
                justify-content: space-between;
                width: 334px;
            }

            & .legal-addr-small {
                display: none;
            }
        } */



        & .registration__nds-checkbox {
            margin-bottom: 30px;

            & label {
                display: flex;
                align-items: start;
                justify-content: start;
                color: var(--color-black-text);
            }
        }

        & .registration__address-checkbox {
            grid-column: 1 / span 2;

            & label {
                display: flex;
                align-items: start;
                justify-content: start;
                color: var(--color-black-text);
            }
        }

        & .registration__nds-checkbox,
        & .registration__address-checkbox {
            & .filter__custom-radio {
                margin-left: 0;
                margin-right: 10px;
                margin-top: 7px;
                flex-shrink: 0;
            }

            & label {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    & .registration__requisites {
        margin-bottom: 30px;

        &.no-edit {

            & input::placeholder {
                color: var(--color-black-text);
            }

            & input:disabled {
                background-color: white;
            }
        }

        &.grid-btn {
            grid-template-columns: 1fr 1fr;

            & .registration--submit {
                margin-top: 0;
            }

            & .white-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                width: 100%;
                height: 50px;
                border-radius: 4px;
            }
        }
    }

    & input::placeholder {
        font-size: var(--font-size-16-14);
    }

    & .default-address {
        margin-bottom: 20px;

        & .profile-menu__arrow-up-img {
            display: none;
        }

        & .profile-menu__arrow-down-img {
            display: none;
        }
    }

    & .additional-address {
        margin-bottom: 20px;

        & img {
            margin-left: 30px;
        }

        & h3 {
            display: inline-flex;
            justify-content: space-between;
            width: 334px;
        }

        & .legal-addr-small {
            display: none;
        }
    }

    & .new-address {
        margin-bottom: 0;
        background-color: var(--color-grey-form-bg);

        & .profile-menu__arrow-up-img {
            display: none;
        }

        & .profile-menu__arrow-down-img {
            display: none;
        }
    }

    & .font-size-20-16 {
        font-size: var(--font-size-20-16);
    }

    & .set-default-address-btn {
        grid-column: 1 / 2;
    }

    & .edit-address-btn {
        grid-column: 2 / 3;
    }

    & .confirm-address-btn {
        grid-column: 2 / 3;
    }
}


/* ------------- @media 1199 --------------------------- */
@media(max-width: 1199px) {
    .profile {
        &__container {}
    }
}

@media(max-width: 950px) {
    .profile {
        .registration__requisites {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }
    }

    .profile-main {
        .registration__address-checkbox {
            grid-column: 1 / span 1;
        }
    }
}

@media(max-width: 850px) {
    .profile {

        .registration__requisites {
            &.grid-btn {
                grid-template-columns: 1fr;
                /* grid-template-rows: 1fr 1fr; */
                justify-items: end;
            }

            & .registration--submit {
                width: 60%;
            }
        }

        & .set-default-address-btn {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        & .edit-address-btn {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        & .confirm-address-btn {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }
}

/* ------------- @media 767 --------------------------- */
@media(max-width: 767px) {
    .profile__container {
        flex-direction: column;
    }

    .profile {
        .registration__requisites {
            &.grid-btn {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                justify-items: end;
            }

            & .registration--submit {
                width: 100%;
            }
        }

        & .set-default-address-btn {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        & .edit-address-btn {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        & .confirm-address-btn {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }

    .profile-menu {
        width: 100%;
        margin-bottom: 20px;
    }

    .profile-main {
        margin-bottom: 50px;

        .registration__address-checkbox {
            grid-column: 1 / span 2;
        }
    }
}

@media(max-width: 540px) {
    .profile {
        .registration__requisites {
            &.grid-btn {
                grid-template-columns: 1fr;
                /* grid-template-rows: 1fr 1fr; */
                justify-items: end;
            }

            & .registration--submit {
                width: 60%;
            }
        }

        & .set-default-address-btn {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        & .edit-address-btn {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        & .confirm-address-btn {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }
}

@media(max-width: 480px) {
    .profile {
        .profile__container {
            padding: 0;
        }
    }

    .profile-menu {
        &__title-text {
            &.legal-addr-small {
                display: block;
            }

            &.legal-addr-big {
                display: none;
            }
        }
    }

    .profile {

        .registration__requisites {
            & .registration--submit {
                width: 100%;
            }
        }
    }

    .profile {
        & .default-address {

            & .profile-menu__arrow-up-img {
                display: block;
            }
        }

        & .additional-address {

            & .legal-addr-big {
                display: none;
            }

            & .legal-addr-small {
                display: inline-flex;
            }

            & h3 {
                width: 205px;
            }
        }

        & .new-address {

            & .profile-menu__arrow-up-img {
                display: block;
            }
        }
    }

}