/* $project-bg: #F2E8DE;
$project-color: #8B4513; */

:root {
    --color-gray-bg: #B6B8BC;
    --color-gray-menu: #CFD1D5;
    --color-gray-text: #929292;
    --color-gray-header-bg: #E6E6E7;
    --color-grey-form-bg: #F7F7F8;

    --color-black-text: #1E1D21;
    --color-black-header-bg: #1E1D21;
    --color-black-footer: #1E1D21;
    --color-black-btn-border: #28272B;
    --color-black-header-top: #28272B;
    --color-black: #2A2A2A;
    --color-black-header-border: #333333;

    --color-red: #E31235;

    --color-green: #45AC34;

    --color-white: #fff;

    --margin-60: 60px;
    --margin-40: 40px;
    --margin-50-20: 50px;
    --margin-50-30: 50px;
    --margin-100-50: 100px;
    --margin-100-40: 100px;

    --border-radius-6: 6px;

    --font-size-48-20: 48px;
    --font-size-36-18: 36px;

    --font-size-20-16: 20px;

    --font-size-16-14: 16px;
    --font-size-16-13: 16px;
    --font-size-16-12: 16px;
    --font-size-16-11: 16px;
    --font-size-16-10: 16px;

    --font-size-14-12: 14px;
    --font-size-14-11: 14px;
    --font-size-14-10: 14px;

    --font-size-12-10: 12px;

}

/* Responsive */
@media (max-width: 1199px) {
    :root {
        --margin-60: calc(30px + (60 - 30) * ((100vw - 320px) / (1199 - 320)));
        --margin-50-20: calc(20px + (50 - 20) * ((100vw - 320px) / (1199 - 320)));
        --margin-50-30: calc(30px + (50 - 30) * ((100vw - 320px) / (1199 - 320)));
        --margin-100-50: calc(50px + (100 - 50) * ((100vw - 320px) / (1199 - 320)));
        --margin-100-40: calc(40px + (100 - 40) * ((100vw - 320px) / (1199 - 320)));

        --font-size-48-20: calc(20px + (48 - 20) * ((100vw - 320px) / (1199 - 320)));
        --font-size-36-18: calc(18px + (36 - 18) * ((100vw - 320px) / (1199 - 320)));

        --font-size-20-16: calc(16px + (20 - 16) * ((100vw - 320px) / (1199 - 320)));

        --font-size-16-14: calc(14px + (16 - 14) * ((100vw - 320px) / (1199 - 320)));
        --font-size-16-13: calc(13px + (16 - 13) * ((100vw - 320px) / (1199 - 320)));
        --font-size-16-12: calc(12px + (16 - 12) * ((100vw - 320px) / (1199 - 320)));
        --font-size-16-11: calc(11px + (16 - 11) * ((100vw - 320px) / (1199 - 320)));
        --font-size-16-10: calc(10px + (16 - 10) * ((100vw - 320px) / (1199 - 320)));

        --font-size-14-12: calc(12px + (14 - 12) * ((100vw - 320px) / (1199 - 320)));
        --font-size-14-11: calc(11px + (14 - 11) * ((100vw - 320px) / (1199 - 320)));
        --font-size-14-10: calc(10px + (14 - 10) * ((100vw - 320px) / (1199 - 320)));

        --font-size-12-10: calc(10px + (12 - 10) * ((100vw - 320px) / (1199 - 320)));
    }
}