.page-header {
   margin-bottom: calc(var(--margin-60) / 3);
   margin-top: calc(var(--margin-40));
    color: var(--color-black);
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.category-cards__container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px 30px;
}

.category-swiper__swiper-slide {
   max-width: 270px;
}

.category-filters__container {
   min-height: 125px;
   background-color: #E6E6E7;
}

.category-top-pagination__container {
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
}

.category__quantity {
   position: relative;
   min-width: 260px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   & a {
      font-size: 18px;
      color: #1E1D21;
   }
}

.category__quantity-content {
   position: absolute;
   right: 0;
   bottom: -9px;
   z-index: 10;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   /* background-color: #fff; */
   border: 1px solid #e6e6e7;
   border-radius: 6px;
   /* padding: 14px 10px 14px 20px; */
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   width: 72px;
   /* height: 118px; */
   box-shadow: 0 2px 10px 0 rgba(178, 178, 179, 0.7);
   background: #fff;

      & a:not(:first-child) {
         display: none;
      }
}

.category__quantity-content:hover .category__quantity-content a:not(:first-child) {
   display: block;
}


.category__quantity-btn {
   font-size: 18px;
   color: #1E1D21;
   display: block;
}

.category-bottom-pagination {
   margin-bottom: calc(var(--margin-60));
   margin-top: calc(var(--margin-40) / 2);
   &__container {
      display: flex;
      justify-content: center;
   }
}

.category-info {
   margin-bottom: 100px;
}

.category-info__header {
   font-size: 24px;
   color: calc(var(--color-black-footer));
      &:not(:first-of-type) {
         margin-top: 30px;
      }
}

.category-info__text {
   font-size: 18px;
   color: #929292;
   margin-top: 10px;
}

.category-info__text~.category-info__text {
   margin-top: 0px;
}


