.page-header {
   color: var(--color-black-text);
}

.page-header__wrapper {
   margin-bottom: calc(var(--margin-60) / 3);
   margin-top: calc(var(--margin-40));
}

.filters__container {
   padding-left: 15px;
   padding-right: 15px;
}

.filters__wrapper {
   padding: 20px;
   min-height: 125px;
   background-color: #E6E6E7;
   border-radius: 6px;

}

.filters-new__module {
   width: 100%;
   display: grid;
   /* grid-template-columns: repeat(5, 1fr); */
   grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
   /* grid-template-rows: minmax(30px, 35px); */
   gap: 10px;


}

.filters__btn--open {
   grid-column: 1 / -1;
   font-size: 20px;
   font-weight: 300;
   color: var(--color-black-text);
   background-color: #fff;
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;

   &.big {
      display: flex;
   }

   &.small {
      display: none;
   }



}

.grid-item .drop-list-content {
   width: 100%;
}

.category-top-pagination__container {
   padding-top: 20px;
   padding-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* Drop list */
.drop-list {
   position: relative;

   height: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   & a {
      font-size: 18px;
      line-height: 30px;
      color: #1E1D21;
   }

   &-legend {
      font-size: 18px;
      line-height: 30px;
      color: #1E1D21;
      display: block;
   }

   &-content {
      position: absolute;
      right: 0;
      top: 0px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #e6e6e7;
      border-radius: 6px;
      background: #fff;

      & a,
      span {
         padding-left: 20px;
      }

      & a,
      label,
      span {
         width: 100%;
         cursor: pointer;

         &:hover {
            background-color: #28272B;
            color: #fff;
         }

         &:hover span.filter__custom-radio {
            border: 1px solid var(--color-white);
         }

         &:hover span.filter__custom-radio::before {
            background-color: var(--color-white);
         }
      }

      & a:not(:first-of-type) {
         display: none;
      }

      .drop-list__box label {
         display: none;
      }

      &:hover {
         z-index: 20;
         padding-top: 0px;
         box-shadow: 0 2px 10px 0 rgba(178, 178, 179, 0.7);

         & a:not(:first-child) {
            display: block;
         }

         .drop-list__box label {
            display: block;
         }

         & .drop-list__dropup-arrow {
            display: block;
         }

         & .drop-list__dropdown-arrow {
            display: none;
         }
      }
   }

   &__dropdown-arrows {
      position: absolute;
      top: 10px;
      right: 10px;
   }

   &__dropup-arrow {
      display: none;
   }
}

.quantity.drop-list {
   width: 260px;
}

.quantity .drop-list {

   &-content {
      width: 72px;

      &:hover {
         padding-bottom: 4px;
         z-index: 20;
      }
   }
}

.sorting.drop-list {
   width: 325px;
}

.sorting .drop-list {
   &-content {
      width: 210px;

      &:hover {
         padding-bottom: 8px;

         & a:nth-of-type(2) {
            margin-top: 18px;
         }
      }
   }
}

/* /Drop list */

/* Фильтры */
/* Радио-кнопки */
span.filter__custom-radio {
   padding: 0;
   display: inline-block;
   width: 14px;
   height: 14px;
   border-radius: 3px;
   border: 1px solid var(--color-black-btn-border);
   margin-right: 10px;
   margin-left: 20px;
   position: relative;
}

span.filter__custom-radio::before {
   content: "";
   display: inline-block;
   width: 8px;
   height: 8px;
   border-radius: 1px;
   background-color: var(--color-black-btn-border);
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0);
   /* display: none; */
   transition: 0.2s ease-in;
}

.real-radio:checked+.filter__custom-radio::before {
   /* display: inline-block; */
   transform: translate(-50%, -50%) scale(1);
}

.drop-list__box {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.drop-list__box label {
   font-size: 18px;
   font-weight: 300;
   color: var(--color-black-text);

}

span.custom-selected {
   font-weight: 400;
   height: 100%;
   margin-bottom: 3px;
}

.grid-item.drop-list {
   width: 100%;
}

.custom-selected,
label {
   font-size: 18px;
   font-weight: 300;
   color: var(--color-gray-text);
}

.custom-radio {
   display: inline-block;
   min-width: 60px;
   height: 40px;
   text-align: center;
   line-height: 100%;
   border: 1px solid #e6e6e7;
   padding-top: 9px;
   padding-bottom: 9px;
   border-radius: 6px;
   font-size: 18px;
   color: var(--color-black-text);
   cursor: pointer;
}

.real-radio {
   position: absolute;
   width: 0;
   height: 0;
   opacity: 0;
   z-index: -1;
}

.real-radio:checked+.custom-radio {
   border: 1px solid #ff0000;
   color: #ff0000;
}

/*  */
.custom-radio {
   display: inline-block;
   min-width: 60px;
   height: 40px;
   text-align: center;
   line-height: 100%;
   border: 1px solid #e6e6e7;
   padding-top: 9px;
   padding-bottom: 9px;
   border-radius: 6px;
   font-size: 18px;
   color: var(--color-black-text);
   cursor: pointer;
}

.filter__custom-radio {
   font-size: 18px;
   font-weight: 300;
}

.filters {
   &-active {
      &__module {
         width: 100%;
         display: flex;
         align-items: center;
         flex-direction: row;
         flex-wrap: wrap;
         gap: 16px;
         margin-top: 20px;
      }

      &__title {
         font-size: 18px;
         font-weight: 600;
         color: var(--color-black-text);
      }
   }

   &--switched {
      font-size: 18px;
      line-height: 120%;
      font-weight: 300;
      color: var(--color-black-text);
      display: inline-block;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      background-color: var(--color-white);
      border-radius: 6px;
      padding: 4px 20px;

      & img {
         display: inline-block;
         cursor: pointer;
      }
   }
}

/* /Радио-кнопки */

.filters--switched {}

.filters__btn--clear {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   font-size: 18px;
   font-weight: 400;
   color: var(--color-white);
   background-color: var(--color-black-btn-border);

   border-radius: 6px;
   padding: 4px 20px;

   & img {
      display: inline-block;
      cursor: pointer;
   }
}

/* Progress-Bar */
.values {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 14px;
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 11px;
   /* margin-bottom: 11px; */


   #min-value,
   #max-value {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      color: var(--color-black-text);
      padding: 4px 18px;
      border: 1px solid var(--color-gray-header-bg);
      border-radius: var(--border-radius-6)
   }
}

.range-slider {
   position: relative;
   /* width: 176px; */
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
   /*  */
   padding-top: 20px;
   padding-bottom: 30px;
}

.range-slider__range {
   position: absolute;
   /* top: 50%; */
   bottom: 50%;
   left: 50%;
   transform: translate(-50%, 50%);
   /* transform: translateY(-50%); */
   z-index: 100;
   width: 176px;
   appearance: none;
   /* width: 100%; */
   height: 10px;
   border-radius: 5px;
   background-color: transparent;
   outline: none;
   padding: 0;
   margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
   position: relative;
   z-index: 15;
   appearance: none;
   width: 20px;
   height: 20px;
   border: 2px solid var(--color-gray-header-bg);
   border-radius: 50%;
   background: #fff;
   cursor: pointer;
}

.range-slider__progress {
   height: 10px;
   width: 176px;
   background: var(--color-gray-text);
   border-radius: 5px;
   position: absolute;
   /*    top: 50%;
   transform: translateY(-50%); */
   bottom: 50%;
   left: 50%;
   transform: translate(-50%, 50%);
   pointer-events: none;
}

.values {
   display: none;
}

.range-slider {
   display: none;
}

.drop-list__box:hover {
   .values {
      display: flex;
   }

   .range-slider {
      display: block;
   }
}

/* /Progress-Bar */

.dash-value {}

/* /Фильтры */


.category-cards {
   &__container {
      display: flex;
      justify-content: center;
   }

   &__wraper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      gap: 30px 30px;
   }
}

.products-swiper__swiper-slide.category-swiper__swiper-slide {
   display: flex;
   justify-content: center;
   width: 100%;
   /* height: fit-content; */
}

.product-item {
   &_options {
      padding-left: 15px;
      padding-right: 15px;
      gap: 10px;
      width: 100%;
   }

   &__main-info {
      width: 100%;
   }

   &__description-info {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
   }

   &__images {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-item {
         width: 220px !important;
      }

      /* aspect-ratio: 238 / 234; */
      &-swiper-pagination {
         height: 16px;
      }
   }

   /* If we have one image only, then imitate pagination */
   &__images:not(:has(.product-item__images-item:nth-of-type(2))) {
      /* margin-bottom: 16px; */
   }

   &__images-no {
      border: 1px solid #e7e7e7;
      width: 220px;
      height: 242px;
      margin: 0 auto;
      /* display: flex; */
      display: none;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin-top: 20px;
      font-size: 32px;
      background-color: cyan;
   }

   /* If we have no any image, then show message "No Image" */
   /*    .product-item__images:not(:has(.    product-item__images-item)) {
         margin-bottom: 21px;
      } */

   &__brand {
      width: 100%;
      display: flex;
      justify-content: center;
      /* margin-bottom: 15px; */
   }
}

.category-bottom-pagination {
   margin-bottom: calc(var(--margin-60));
   margin-top: calc(var(--margin-40) / 2);

   &__container {
      display: flex;
      justify-content: center;
   }
}

.category-info {
   margin-bottom: 100px;
}

.text {
   & h2 {
      font-size: 24px;
      font-weight: 400;
      color: calc(var(--color-black-footer));

      &:not(:first-of-type) {
         margin-top: 30px;
      }
   }

   & p {
      font-size: 18px;
      color: #929292;
   }
}

.category-info__text~.category-info__text {
   margin-top: 0px;
}

@media (max-width: 1199px) {
   .quantity.drop-list {
      width: calc(221px + (260 - 221) * ((100vw - 320px) / (1200 - 320)));
   }

   .quantity .drop-list {

      &-legend,
      &-content a {
         font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
      }
   }

   .sorting.drop-list {
      width: calc(257px + (325 - 257) * ((100vw - 320px) / (1200 - 320)));

   }

   .sorting .drop-list {
      &-content {
         width: calc(157px + (210 - 157) * ((100vw - 320px) / (1200 - 320)));
      }

      &-legend,
      &-content a {
         font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
      }
   }

   .category {

      &-cards__wraper {
         grid-template-columns: repeat(auto-fit, minmax(calc(134px + (270 - 134) * ((100vw - 320px) / (1200 - 320))), 1fr));
         gap: calc(12px + (30 - 12) * ((100vw - 320px) / (1200 - 320))) calc(12px + (30 - 12) * ((100vw - 320px) / (1200 - 320)));
      }
   }

   .text {
      & h2 {
         font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1200 - 320)));
         font-weight: 400;
         color: calc(var(--color-black-footer));

         &:not(:first-of-type) {
            margin-top: 30px;
         }

         margin-bottom: 10px;
      }

      & p {
         font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1200 - 320)));
         color: #929292;
      }
   }

   .product-item {
      &_options {
         padding-left: calc(10px + (15 - 10) * ((100vw - 320px) / (1200 - 320)));
         padding-right: calc(10px + (15 - 10) * ((100vw - 320px) / (1200 - 320)));
         gap: calc(8px + (10 - 8) * ((100vw - 320px) / (1200 - 320)));
      }

      &__wishlist-button {
         width: calc(16px + (18 - 16) * ((100vw - 320px) / (1200 - 320)));
         height: calc(15px + (17 - 15) * ((100vw - 320px) / (1200 - 320)));
      }

      /* If we have one image only, then imitate pagination */
      &__images:not(:has(.product-item__images-item:nth-of-type(2))) {
         /* margin-bottom: calc(11px + (16 - 11)*(100vw - 320px) / (1200 - 320)); */
      }

      &__images-link img {
         width: calc(100px + (220 - 100) * ((100vw - 320px) / (1200 - 320)));
      }

      &__images-swiper-pagination {
         height: calc(11px + (16 - 11)*(100vw - 320px) / (1200 - 320));
      }

      &__images-no {
         font-size: calc(10px + (32 - 10)*(100vw - 320px) / (1200 - 320));
         width: calc(100px + (220 - 100)*(100vw - 320px) / (1200 - 320));
         height: calc(123px + (242 - 123)*(100vw - 320px) / (1200 - 320));
         border-radius: calc(4px + (10 - 4)*(100vw - 320px) / (1200 - 320));
      }

      &__brand-img {
         width: calc(25px + (50 - 25) * ((100vw - 320px) / (1200 - 320)));
      }

      &__category {
         font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1200 - 320)));
      }

      &__name {
         font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1200 - 320)));
      }
   }



   .category-swiper__swiper-slide {}
}

@media(max-width: 991px) {
   .category-top-pagination__container {
      /*    padding-top: 20px;
   padding-bottom: 20px; */
      flex-direction: column;
      /* justify-content: center; */
      gap: 20px;
   }

   .drop-list,
   .category__sorting {
      /* justify-content: center; */
   }
}

@media(max-width: 767px) {}

@media(max-width: 575px) {

   .filters__btn--open {
      &.big {
         display: none;
      }

      &.small {
         display: flex;
      }
   }
}

@media(max-width: 443px) {
   .grid-item.drop-list:nth-child(even) .custom-selected {
      color: var(--color-black-btn-border);
   }
}