@charset "UTF-8";
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
/* Убирает стрелочки у числа в input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  /* Для вызова затемнённого меню */
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

label:hover, label:active, label:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: 0;
  outline-offset: 0;
}

button {
  border-width: 0;
  border-style: none;
  -o-border-image: none;
  border-image: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

section {
  margin: 0;
  padding: 0;
}

/* Изменение rem при экранах от 1200px до 360px */
@media (max-width: 1200px) {
  html,
  body {
    font-size: calc(5px + 5 * (100vw - 360px) / 840);
  }
}
/* Ислкючение hover-бага на тач-устройствах (button) */
/* В структуре Block > a > img для создания дополнительного слоя */
/* над картинкой и изменения его прозрачности при наведении мыши */
/* Добавлено исключение залипания hover на мобильных */
/* То же, что и предыдущий, но с параметрами, определяющими непрозрачность */
/* opb = opacity before; opa = opacity after */
/* Центрирование отдельной секции страницы */
.center {
  padding-left: calc(50% - 60rem);
  padding-right: calc(50% - 60rem);
}

/* Общий стиль для контейнера секции страницы */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120rem;
  padding-left: 20px;
  padding-right: 20px;
}

/* Стрелка слайдера вправо */
/* и Стрелка слайдера влево */
.arrow-right,
.arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #F1C9A5;
  stroke: #8B4513;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.arrow-right:hover,
.arrow-left:hover {
  background-color: #A66321;
  stroke: #fff;
}

/* Блок суммирования цены по примеру корзины (1200 руб. + 1 -) */
.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  color: #2A2A2A;
}
.price-block__price {
  font-size: 32px;
  color: #2A2A2A;
  font-weight: 500;
}
.price-block__minus, .price-block__plus {
  width: 24px;
  height: 24px;
  border: 1px solid #8B4513;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.price-block__minus svg, .price-block__plus svg {
  stroke: #2A2A2A;
}
.price-block__minus:hover, .price-block__plus:hover {
  background-color: #A66321;
}
.price-block__minus:hover svg, .price-block__plus:hover svg {
  stroke: #fff;
}
.price-block__minus {
  margin-left: 30px;
  margin-right: 14px;
  padding-top: 6px;
}
.price-block__minus svg {
  margin-bottom: 5px;
}
.price-block__counter {
  width: 10px;
  color: #2A2A2A;
  background-color: #fff;
  border: none;
  font-size: 16px;
}
.price-block__plus {
  margin-left: 14px;
  margin-right: 20px;
}
.price-block__plus svg {
  margin-bottom: -1px;
}

/* Делает блок прозрачным */
.opacity--zero {
  opacity: 0;
  pointer-events: none;
  /* background-color: rgba(255, 255, 255, 0); */
}

/* Делает блок непрозрачным */
.opacity--max {
  opacity: 1;
  pointer-events: all;
  /* background-color: rgba(255, 255, 255, 1); */
}

/* Удаляет блок из DOM */
.display--none {
  display: none;
}

/* Возвращает блок в DOM */
.display--block {
  display: block;
}