.banner:last-child {
    margin-bottom: var(--margin-60);
}

.banner:not(:last-child) {
    margin-bottom: calc(var(--margin-60) / 2);
}

.banner__container {}

.banner__list {}

.banner__list_full-width {}

.banner__list_col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--margin-60) / 2);
}

.banner__item {}

.banner__link {}

.banner__img {
    max-width: unset;
    width: 100%;
}

/* нечетные изображения */
.banner__list_col-2 .banner__item:nth-child(odd) .banner__img {
    border-radius: 0 8px 8px 0;
}

/* четные изображения */
.banner__list_col-2 .banner__item:nth-child(even) .banner__img {
    border-radius: 8px 0px 0px 8px;
    ;
}

/* responsive */
@media (max-width: 767px) {
    .banner__img {
        border-radius: 0 !important;
    } 
    .banner__list_col-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* responsive */